.form {
  max-width: 600px;
  width: 100%;
  margin: 24px auto 0;
}

.input_wrap {
  position: relative;
  display: flex;
  align-items: stretch;
}

.icon_wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 12px;
  display: flex;
  align-items: center;
  height: 48px;
}

.icon {
  height: 20px;
  width: 20px;
  display: block;
  color: #666;
  fill: currentColor;
}

.input {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  padding: 7px 16px 9px 36px;
  font-size: 16px;
  color: #111;
}

.input:focus {
  border-color: #111;
  box-shadow: 0 0 0 1px #111 inset;
}

.button_wrap {
  display: flex;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.btn {
  height: 36px;
  border-radius: 3px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
}

.btn:hover {
  border-color: #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
