.root {
  position: relative;
  display: flex;
  flex-direction: column;
}

.skeleton {
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 2px;
}

.poster {
  width: 100%;
  padding-bottom: 150%;
  flex-shrink: 0;
}

.body {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
}

.title {
  height: 6px;
  width: 80%;
}

.meta {
  height: 6px;
  width: 48%;
  margin-top: 4px;
}

.btn {
  justify-self: flex-end;
  height: 32px;
  width: 100%;
  border-radius: 6px;
  margin-top: auto;
  margin-top: 16px;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}